# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Francos fku profiles

# Initialization
on property:sys.boot_completed=1
    # Set default profile on first boot
    exec u:r:init:s0 root root -- /init.spectrum.sh
    exec u:r:su:s0 root root -- /init.spectrum.sh
    # Enable Spectrum support
    setprop spectrum.support 1
    # Add kernel name
    setprop persist.spectrum.kernel Revolt
    #Storage
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-1/queue/read_ahead_kb 128
    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    setprop dalvik.vm.heapminfree 2m


    # Enable Laptop Mode
    write /proc/sys/vm/laptop_mode 1
    # Dont treat storage as rotational
    write /sys/block/mmcblk0/queue/rotational 0
    # Backlight dimmer
    write /sys/module/mdss_fb/parameters/backlight_dimmer 0
    # USB Fast Charge
    write /sys/kernel/fast_charge/force_fast_charge 1

   #ZRAM
    swapon /dev/block/zram0
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 4
    write /sys/block/zram0/disksize 536870912

    write /proc/sys/vm/page-cluster 0

    ### CPU_Boost
    write /sys/module/cpu_boost/parameters/input_boost_enabled 0
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800 1:1036800 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 15
    write /sys/module/cpu_boost/parameters/input_boost_ms 175

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/rt/schedtune.prefer_idle 1
    write /dev/stune/rt/schedtune.boost 30

    # Congigure Simple Thermal driver
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "2016000 1958400 42 41"
    write /sys/kernel/msm_thermal/zone1 "1958400 2016000 43 42"
    write /sys/kernel/msm_thermal/zone2 "1804800 1958400 46 43"
    write /sys/kernel/msm_thermal/zone3 "1689600 1804800 48 46"
    write /sys/kernel/msm_thermal/zone4 "1401600 1689600 51 48"
    write /sys/kernel/msm_thermal/zone5 "1209600 1401600 54 51"
    write /sys/kernel/msm_thermal/zone6 "1036800 1209600 56 54"
    write /sys/kernel/msm_thermal/zone7 "806400 1036800 58 56"
    write /sys/kernel/msm_thermal/zone8 "652800 806400 60 58"
    write /sys/kernel/msm_thermal/sampling_ms 8000
    write /sys/kernel/msm_thermal/enabled 1

    # Adjust LMK Values
    write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,32256,55296,80640"


# Balance (default profile)
on property:persist.spectrum.profile=0
    # Power efficient workques
    write /sys/module/workqueue/parameters/power_efficient Y

    # CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1804800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 250
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 0

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 510000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/module/adreno_idler/parameters/adreno_idler_active 1
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 20
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 20
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 6000

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/rt/schedtune.prefer_idle 1
    write /dev/stune/rt/schedtune.boost 10

    # ZRAM
    mkswap /dev/block/zram0
    swapon /dev/block/zram0

# Performance (based on DrunkSauce Lite)
on property:persist.spectrum.profile=1

  # CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 350
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 1500
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 1


	# Power efficient workques
    write /sys/module/workqueue/parameters/power_efficient Y
    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 2
    write /sys/module/adreno_idler/parameters/adreno_idler_active 1
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/module/adreno_idler/parameters/adreno_idler_active 1
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 20
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 25
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 5000

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/rt/schedtune.prefer_idle 1
    write /dev/stune/rt/schedtune.boost 30


# Battery
on property:persist.spectrum.profile=2
    # Power efficient workques
    write /sys/module/workqueue/parameters/power_efficient Y

    # CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1804800
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 250
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 1

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 510000000
    write /sys/module/adreno_idler/parameters/adreno_idler_active 1
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/class/leds/lcd-backlight/max_brightness 100
    write /sys/module/adreno_idler/parameters/adreno_idler_active 1
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 25
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 10
    write /sys/module/adreno_idler/parameters/adreno_idler_idleworkload 8000

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/rt/schedtune.prefer_idle 1
    write /dev/stune/rt/schedtune.boost 1

# Gaming
on property:persist.spectrum.profile=3
    # Power efficient workques
    write /sys/module/workqueue/parameters/power_efficient N

    # CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 652000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 350
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 1500
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 1

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 400000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 650000000
    write /sys/class/leds/lcd-backlight/max_brightness 255
    write /sys/module/adreno_idler/parameters/adreno_idler_active 0

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/rt/schedtune.prefer_idle 1
    write /dev/stune/rt/schedtune.boost 30
