# /init.rev.rc - Part of KudKernel

on late-fs
    # Set BFQ's slice_idle to 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
    write /sys/block/dm-0/queue/iosched/slice_idle 0
    write /sys/block/dm-1/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/iosched/slice_idle 0

# Run post-boot script after Qualcomm's post_boot shell script
on property:init.svc.qcom-post-boot=stopped
    # If the selected governor is valid, apply tunables
    setprop sys.cpufreq.governor ${persist.sys.cpufreq.governor}

    # Reduce maxfreq to 1804 MHz (originally was 1689 MHz)
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1804800

    # Set read ahead to 128 kb for external storage (rest are handled by qcom-post-boot)
    write /sys/block/mmcblk1/queue/read_ahead_kb 128

    # Congigure Simple Thermal driver
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "2016000 1958400 42 41"
    write /sys/kernel/msm_thermal/zone1 "1958400 2016000 43 42"
    write /sys/kernel/msm_thermal/zone2 "1804800 1958400 46 43"
    write /sys/kernel/msm_thermal/zone3 "1689600 1804800 48 46"
    write /sys/kernel/msm_thermal/zone4 "1401600 1689600 51 48"
    write /sys/kernel/msm_thermal/zone5 "1209600 1401600 54 51"
    write /sys/kernel/msm_thermal/zone6 "1036800 1209600 56 54"
    write /sys/kernel/msm_thermal/zone7 "806400 1036800 58 56"
    write /sys/kernel/msm_thermal/zone8 "652800 806400 60 58"
    write /sys/kernel/msm_thermal/sampling_ms 8000
    write /sys/kernel/msm_thermal/enabled 1

# clarity CPUFreq governor
on property:sys.cpufreq.governor=schedutil
    # Apply (most of) interactive tunables to clarity
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 350
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 1500
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 0

    # Enable input boost configuration
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 15
    write /sys/module/cpu_boost/parameters/input_boost_ms 100

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/rt/schedtune.prefer_idle 1
