on init
	# set default schedTune value for foreground/top-app (only affects EAS)
	write /dev/stune/foreground/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.boost 1
	write /dev/stune/top-app/schedtune.prefer_idle 1
	write /dev/stune/top-app/schedtune.dynamic_boost 1
	write /dev/stune/rt/schedtune.boost 30
  write /dev/stune/rt/schedtune.prefer_idle 1

on late-fs
    # Set BFQ's slice_idle to 0
    write /sys/block/mmcblk0/queue/iosched/slice_idle 0
    write /sys/block/mmcblk1/queue/iosched/slice_idle 0
    write /sys/block/dm-0/queue/iosched/slice_idle 0
    write /sys/block/dm-1/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/iosched/slice_idle 0

# Run post-boot script after Qualcomm's post_boot shell script
on property:init.svc.qcom-post-boot=stopped
    # CPU values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 2016000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 0

    # Enable input boost configuration
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1036800"
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 1
    write /sys/module/cpu_boost/parameters/input_boost_ms 100

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.dynamic_boost 0
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/rt/schedtune.prefer_idle 1
    write /dev/stune/rt/schedtune.boost 10

    # Setup cpusets
    write /dev/cpuset/top-app/cpus 0-7
    write /dev/cpuset/foreground/boost/cpus 0-3,6-7
    write /dev/cpuset/foreground/cpus 0-3,6-7
    write /dev/cpuset/background/cpus 0-1
    write /dev/cpuset/system-background/cpus 0-3
    write /dev/cpuset/camera-daemon/cpus 0-3
